{% load static %}

<ul class="contacts__list">
    <li><a href="https://t.me/ulfat_khalikov" target='_blank'><img class="icon" alt="telegram icon" src="{% static 'blog/images/default/social/telegram.svg' %}"/></a></li>
    <li><a href="https://github.com/uzhalikov" target='_blank'><img class="icon" alt="github icon" src="{% static 'blog/images/default/social/github.svg' %}"/></a></li>
    <li><a href="https://vk.com/ulfat" target='_blank'><img class="icon" alt="github icon" src="{% static 'blog/images/default/social/vk.svg' %}"/></a></li>
</ul>