.question__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
.question__label{
    color: #d4a259;
}
.question__container::-webkit-scrollbar {
	width: 0;
}