{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
<meta name="description" content="{{ item.poem|slice:':160' }}">
<link rel="stylesheet" href="{% static 'blog/css/poem.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/include/switcher.css' %}">
{% endblock %}
{% block title %}Стихотворение {{ item.theme }} №{{ item.id }} - halikov.com{% endblock %}

{% block body %}
    <article class="poem">
        {% include "blog/include/switcher.html" %}
        <pre class="poem__text">{{ item.poem }}</pre>
        <div class="poem__info">
            <p class="poem__author">{{ item.author }},</p>
            <p>{{ item.created }}</p>
        </div>
    </article>
{% endblock %}