{% extends 'blog/base.html' %}
{% load static %}

{% load template_tags %}

{% block head %}
<meta name="keywords" content="сайт Халикова, стихи {{item.theme}}, стихи, стишки, стихотворения, поэт, поэзия, poems, poetry, читать стихи, читать стихотворения, стихотворения нового времени">
<meta name="description" content="{{ description }}">
<link rel="stylesheet" href="{% static 'blog/css/poem.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/include/switcher.css' %}">
{% endblock %}
{% block title %}Стихотворение: {% if item.title %} {{item.title}}{% else %}без названия{% endif %}, {{ item.theme }} | halikov.com{% endblock %}

{% block body %}
    <article class="poem">
        {% include "blog/include/switcher.html" %}
        <pre class="poem__text">{{ item.poem }}</pre>
        <div class="poem__info">
            <p class="poem__author">{{ item.author }},</p>
            <p>{{ item.created }}</p>
        </div>
    </article>
{% endblock %}