{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
<meta name="description" content="{{ description }}">
<meta name="keywords" content="сайт Халикова, стихи, стишки, стихотворения, поэт, поэзия, poems, poetry, общий список всех стихотворений Халикова Ульфата Жэудатовича, читать стихи, читать стихотворения, стихотворения нового времени">
<link rel="stylesheet" href="{% static 'blog/css/poems.css' %}">
{% endblock %}
{% block title %}{{ title }} - halikov.com | Про IT, поэзию и жизнь{% endblock %}

{% block body %}
    <div class="poems">
        {% for poem in poems %}
            <a class="poem" href="{% url 'poem' poem.id %}">
                <pre class="poem__text">{{ poem.poem }}</pre>
                <div class="poem__info">
                    <p class="poem__author">{{ poem.author }},</p>
                    <p>{{ poem.created }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}